#autolog {
  --icon-size: 1rem;
  --ant-font-size: 14px;
  --ant-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --ant-border-radius-lg: 8px;
  --ant-line-height: 1.5714285714285714;
  --ant-color-info: #1677ff;
  --ant-color-success: #52C41A;
  --ant-color-warning: #FAAD14;
  --ant-color-error: #FF4D4F;
  --ant-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  transition: 0.2s;
}

#autolog > span {
  pointer-events: auto;
  width: max-content;
  animation: fadein 0.4s;
  animation-delay: 0s;
  border-radius: var(--ant-border-radius-lg);
  padding: 9px 12px;
  box-shadow: var(--ant-box-shadow);
  margin-top: 16px;
  transition: 0.2s;
  z-index: 9999999;
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; 
  height: max-content;
  overflow: hidden;
  background-color: #FFFFFF;
  font-family: var(--ant-font-family);
}

#autolog > span > span {
  max-width: 50vw;
}

#autolog span.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  height: 0;
  padding: 0;
  margin: 0;
}

#autolog > .autolog-info > *:first-child {
  color: var(--ant-color-info);
}
#autolog > .autolog-info.colorful {
  background-color: #e6f7ff;
}

#autolog > .autolog-success.colorful {
  background-color: #e9f7e7;
}
#autolog > .autolog-success > *:first-child {
  color: var(--ant-color-success);
}

#autolog > .autolog-warn.colorful, #autolog > .autolog-warning.colorful {
  background-color: #fffaec;
}
#autolog > .autolog-warn > *:first-child, #autolog > .autolog-warning > *:first-child {
  color: var(--ant-color-warning);
}

#autolog > .autolog-error.colorful {
  background-color: #fde7e7;
}
#autolog > .autolog-error > *:first-child {
  color: var(--ant-color-error);
}


#autolog > .autolog- {
  background-color: #fafafa;
  color: #333;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#autolog svg {
  font-size: var(--icon-size);
  width: 1em;
  height: 1em;
}
#autolog [data-icon="close"] {
  cursor: pointer;
}
